AWSTemplateFormatVersion: '2010-09-09'

Description: >
    aws service catalog lab assets

Resources:

    StandardArtilleryInstance:
        Type: AWS::EC2::Instance
        Properties:
            ImageId: ami-05b3f10b2ecde86dd
            InstanceType: t2.small